@import './_variables.scss';

.main {
  // min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background: $background;
  padding: 2rem 1rem;
  gap: 20px;

  .leftSection {
    flex: 2 0 300px;
    // max-height: 100vh;
    overflow-y: scroll;
  }

  .rightSection {
    flex: 3 1 520px;
    font-size: 18px;
  }
}
