@import './_variables.scss';

.container {
  height: 100%;

  .main {
    height: calc(100% - 115px - 35px);
    display: flex;
    flex-wrap: wrap;
    background: $background;
    gap: 20px;

    @media (max-width: $breakpoint-mobile) {
      height: auto;
    }

    .leftSection {
      height: 100%;
      flex: 2 0 300px;
      overflow-y: scroll;
      padding: 20px 10px 10px;
    }

    .rightSection {
      height: 100%;
      flex: 3 1 520px;
      overflow-y: scroll;
      font-size: 18px;
      padding: 20px 10px 10px;
    }
  }
}
