@import './_variables.scss';

@mixin wishlistIcon($url) {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url($url) 50% 50% no-repeat;
  background-size: 100%;
}

.titleSection {
  display: flex;
  flex: 0 1 40%;
  gap: 20px;

  .titleImage {
    flex: 0 1 40%;
    max-width: 300px;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  .titleDetails {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex: 1 1;

    .watchListButton {
      width: 120px;
      align-self: end;
      border: none;
      font-size: 14px;
      border-radius: 5px;
      justify-content: center;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s ease-out;

      .icon {
        @include wishlistIcon('/bookmark.svg');
      }

      &:hover {
        background-color: $light;
        box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
        z-index: 1;
      }

      .activeIcon {
        @include wishlistIcon('/bookmark-fill.svg');
      }
    }

    h2 {
      font-size: 36px;
    }

    .summaryBar {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0;

      li {
        &:nth-child(2),
        &:nth-child(3) {
          &:after {
            content: '·';
            margin: 6px;
          }
        }

        &.ratingButton {
          border: 1px solid $dark;
          padding: 4px 6px;
          border-radius: 8px;
          margin-right: 12px;
        }
      }
    }
  }
}

.detailSection {
  border-top: 1px solid $dark;
  border-bottom: 1px solid $dark;
  margin: 22px 0;
}

.ratingsSection {
  display: flex;
  font-size: 20px;
  padding: 0;

  li {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 1 33.3%;
    flex-direction: column;
    gap: 10px;

    &:not(:last-child):after {
      content: '';
      position: absolute;
      right: -1px;
      width: 1px;
      height: 100%;
      background: $dark;
    }

    span:last-child {
      font-size: 14px;
      text-align: center;
    }
  }
}
