@import './_variables.scss';

.container {
  background: $dark;
  color: $light;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;

  .heading {
    font-size: 22px;
    line-height: 22px;
    margin: 0;
  }

  a {
    transition: all 200ms ease-in-out;
    &:hover {
      color: $gray;
    }
  }
}
