@import './_variables.scss';

.container {
  background: $light;
  color: $dark;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  box-shadow: rgb(90 114 123 / 11%) 0px 7px 30px 0px;
  position: relative;
  height: 115px;

  @media (max-width: $breakpoint-mobile) {
    gap: 20px;
    justify-content: space-between;
  }
}

.searchBox {
  position: relative;
  display: flex;
  flex: 1 0 310px;
  color: $dark;
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    flex: 1 0 auto;
  }

  .searchIcon {
    position: absolute;
    color: $dark;
    height: 80px;
    display: flex;
    align-items: center;

    img {
      width: 45px;
      height: 45px;
    }
  }

  input {
    width: 100%;
    padding: 8px 20px;
    height: 80px;
    border: 0;
    font-weight: 300;
    font-size: 30px;
    padding-left: 60px;
    background: transparent;
    color: $dark;

    &::placeholder {
      color: $dark;
      opacity: 0.7;
    }

    &:focus {
      outline: 0;
    }
  }
}

.filters {
  display: flex;
  gap: 20px;

  .yearSelect {
    width: 280px;
    display: flex;
    flex-direction: column;

    > span {
      display: block;
      font-weight: bold;
    }
  }

  .typeSelect {
    display: flex;
    flex-direction: column;

    > span {
      display: block;
      font-weight: bold;
    }
    .radioButtons {
      display: flex;
      gap: 5px;
      padding-top: 5px;
    }
  }
}
