@import './_variables.scss';

.container {
  list-style: none;

  a {
    display: flex;
    gap: 10px;
    padding: 10px;
    transition: all 200ms ease-in-out;
    position: relative;

    &:hover {
      background-color: $light;
      box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
      z-index: 1;
    }

    &.selected {
      color: $dark;
      background-color: $light;
      border-right: 4px solid $dark;
      box-shadow: 0 2px 20px 0px rgb(0 0 0 / 12%);
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;

      .title {
        margin: 0;
        font-weight: 400;
        font-size: 18px;

        @media (max-width: $breakpoint-tablet) {
          font-size: 16px;
        }
        @media (max-width: $breakpoint-mobile) {
          font-size: 14px;
        }
      }
      .year {
        opacity: 0.8;
      }
    }
  }
}
