@import './_variables.scss';

.container {
  padding: 20px 10px 10px;
  overflow-y: scroll;
  height: calc(100vh - $header-height-desktop);

  @media (max-width: $breakpoint-tablet) {
    height: calc(100vh - $header-height-tablet);
  }

  @media (max-width: $breakpoint-mobile) {
    height: calc(100vh - $header-height-mobile);
  }

  .totalCount {
    padding: 10px;
    display: block;
  }

  .resultList {
    margin: 0;
    padding: 0;
  }

  .errorItem {
    display: block;
    text-align: center;
    padding: 10px;
    color: $dark;
    opacity: 0.8;
  }
}
