@import './_variables.scss';

.container {
  list-style: none;

  a {
    display: flex;
    gap: 10px;
    padding: 10px;
    transition: all 0.2s ease-out;
    position: relative;

    &:hover {
      background-color: $light;
      box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
      z-index: 1;
    }

    &.selected {
      color: $dark;
      background-color: $light;
      border-right: 4px solid $dark;
      box-shadow: 0 2px 20px 0px rgb(0 0 0 / 12%);
    }

    .thumb {
      width: 100px;
      height: 100px;
      flex: 0 0 100px;
      object-fit: cover;
      border-radius: 5px;
      background-color: $gray;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;

      .title {
        margin: 0;
        font-weight: 400;
        font-size: 19px;
      }
      .year {
        opacity: 0.8;
      }
    }
  }
}
