@import './_variables.scss';

.container {
  height: 100%;
  flex: 2 0 300px;
  overflow-y: scroll;
  padding: 20px 10px 10px;
  transition: opacity 200ms ease-in-out;

  @media (max-width: $breakpoint-mobile) {
    max-height: 300px;
  }

  .totalCount {
    font-size: 18px;
    padding: 0 10px 15px;
    display: block;
  }

  .resultList {
    margin: 0;
    padding: 0;
  }
}
